@font-face {
    font-family: Refrigerator Deluxe;
    src: url("fonts/Refrigerator Deluxe.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: "Refrigerator Deluxe", Arial, sans-serif;
  font-size: 5em;
  color: #f0f0f0;
  background-color: #2B2B2B;
}
.header_logo {
  width: 20vw;
}

/*Tablet Upscaling*/
@media only screen and (min-width: 768px) {

}
/*Desktop Upscaling*/
@media only screen and (min-width: 1024px) {

}
/*Large Screen Upscaling*/
@media only screen and (min-width: 1920px) {

}
