@font-face {
    font-family: Refrigerator Deluxe;
    src: url("fonts/Refrigerator Deluxe.otf") format("opentype");
}

body {
  font-family: "Refrigerator Deluxe", Arial, sans-serif;
  font-size: 8em;
}

/*Tablet Upscaling*/
@media only screen and (min-width: 768px) {

}
/*Desktop Upscaling*/
@media only screen and (min-width: 1024px) {

}
/*Large Screen Upscaling*/
@media only screen and (min-width: 1920px) {

}
